<?xml version="1.0"?>
<robot name="car" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="car">
    <visual>
      <geometry>
        <mesh filename="package://car_urdf/meshes/lr90.dae" scale="2 2 2" />
      </geometry>
      <origin rpy="0 0 0" xyz="1.2 0 1.5" />
    </visual>
    <collision>
      <geometry>
        <box size="4 2 2"/>
      </geometry>
      <origin rpy="0 0 0" xyz="1 0 1" />
    </collision>
  </link>

  <!-- make it mobile -->
  <xacro:include filename="$(find car_urdf)/urdf/move_base.urdf.xacro" />
  <xacro:move_base prefix="" />

  <joint name="mobile_to_base" type="fixed">
    <parent link="mobile" />
    <child link = "car" />
  </joint>

  <link name="base_link" />

  <joint name="base_to_world" type="fixed">
    <parent link="base_link" />
    <child link = "world" />
  </joint>

</robot>
